*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html{
  font-size: 15px;
  line-height: 1.75rem;
  color: #333333;
}

body{
  background-color: #f4f9ff;
}

header{
    max-width: 1000px;
    margin: auto
}

h1 img{
    display: block;
    width: 150px;
    height: auto;
    margin-right: auto;
}

#mainvisual{
    max-width: 1000px;
    margin: 1rem auto 0;
}

#index{
    max-width: 1000px;
    background-color: #ffffff;
    margin: 1rem auto 0;
    text-align: center;
}

#index .contents h2{
    margin: 1rem auto 0;
}

#index ol{
    margin: 1rem auto 0;
    padding-left: 0;
    display: inline-block;
    text-align: left;
}

#detail{
    max-width: 1000px;
    margin: 1rem auto 0;
}

#detail h2{
    margin: 1rem auto 0;
    text-align: center;
}

#detail img{
    display: block;
    width: 50%;
}

#detail > .contents {
    display: flex;
}
